<!--<h1>Projects#index</h1>-->
<!--<p>Find me in app/views/projects/index.html.erb</p>-->
<!--<h3>projects</h3>-->
<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.name %></h1>
  <%= link_to 'Log Out', logout_path %>
<%end%>
<h1>List of Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% if @projects.size >= 1 %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= button_to "Add New Project", '/projects/new', method: :get%>